@use './ripple.scss';
@use './transitions.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

h6 { @apply text-h6 font-bold }
h5 { @apply text-h5 font-bold }
h4 { @apply text-h4 font-bold }
h3 { @apply text-h3 font-bold }
h2 { @apply text-h2 font-bold }
h1 { @apply text-h1 font-bold }

/* override scrollbar style */
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-black-600;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-black-700;
}
